.cms_nav{
    min-width: 200px;
}
.cms_content{
    padding-left:230px ;
    padding-right: 230px;
}

.toc {
    position: relative;
    z-index: 1;
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 720px;
}
.article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;

}

.pusher > .full.height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.pushable > .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: both;
    margin: 0em;
    border-radius: 0em;
    padding: 4em 0em 4em 0em;
}